{% extends "layout.html.twig" %}

{% block content %}

<main>
	<section>
		<h2 class="teams-title">les teams de la league</h2>
		
		<ul class="teams-grid">
			
			<ul class="teams-grid">
			    {% for team in teams %}
			        <li>
			            <article class="team-card">
			                <a href="{{ team.link }}"><img src="templates/assets/img/{{ team.img }}" alt="{{ team.alt }}"></a>
			                <h3 class="team-name">{{ team.name }}</h3>
			                <p class="team-desc">{{ team.desc }}</p>
			                <a class="btn" href="{{ team.link }}">découvrez {{ team.name }}</a>
			            </article>
			        </li>
			    {% endfor %}
			</ul>
	</section>
</main>

{% endblock %}
